<div class="col-xs-8 col-md-6">
  <div class="row center-xs">
    <div class="box">
      <h1> Iniciar sesion</h1>
          <%= form_tag sessions_path do %>
            <div class="field">
              <%= label_tag :email %><br />
              <%= text_field_tag :email, params[:email] %>
            </div>

            <div class="field">
              <%= label_tag :password %><br />
              <%= password_field_tag :password %>
            </div>
            <div class="btn">
            <%= submit_tag "Iniciar secion" %>
          </div>
          <% end %>
