  <div class="col-xs-8 col-md-6">
    <div class="row center-xs">
      <div class="box">

          <h1>Registro</h1>
          <%= form_for @user do |f| %>
            <% if @user.errors.any? %>
              <div class="be-blue">
                <h2>Form is invalid</h2>
                <ul>
                  <% for message in @user.errors.full_messages %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <!-- <div class="field">
              <%= f.label :nombre %>
              <%= f.text_field :nombre, class:"form-control" %>
            </div> -->
            <div class="field">
              <%= f.label :email %>
              <%= f.text_field :email, class:"form-control" %>
            </div>
            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password, class:"form-control"%>
            </div>
            <div class="field">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class:"form-control" %>
            </div>

            <p class="btn be-blue"><%= f.submit %></p>

      <% end %>
     </div>
   </div>
 </div>
