<h1>Aplicacion prueba Rails docdigitales</h1>

<!-- <% if :user_id == true %>
    <h1> Bienvenido <%= current_user.email %><h1>
<% else %>
      	<h1> hasta luego!!!</h1
<% end %> -->
<% if current_user.present? %>
    <h1> Bienvenido <%= current_user.email %><h1>
  <% else %>
    <%= link_to 'Login', root_path %>
<% end %>
