html,body {
  margin: 0px;
}
a,a:visited{
  color: inherit !important;
  text-decoration: none;
}
#logo{
  font-size: 14;
}
.btn{
  background-color: rgb(52, 153, 209);
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 12px;
}
.no-margin{
  margin: 0px;
}
.be-blue{
  background-color: rgb(52, 153, 209);
}
.white{
    color: rgb(234, 236, 245);
}
.large-padding{
  padding: 10px 5px ;
}
.field .top-space{
  margin-top: 1em;
}
.text-left{
  text-align: left;

}
.form-control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}
