<!DOCTYPE html>
<html>
<head>
  <title>Prueba</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
<body>
  <header>
    <nav class="be-blue white large-padding" >
      <ul class="no-list row center-xs">
        <li class="col-md no-margin">
          <h1 class="no-margin" id="logo">Docdigitales</h1>
        </li>
        <li class="col-md">
          <%= link_to "inicio", root_path %>
        </li>
        <li class="col-md">
          Empresas
        </li>
        <li class="col-md">
          Empleados
        </li>
        <!-- <div id="user_nav"> -->
        <li class="col-md center-xs">
          <% if current_user %>
            Sesion iniciada como: <%= current_user.email %>.
            <li>
              <%= link_to "Cerrar sesion", log_out_path %>
            </li>
          <% else %>
            <%= link_to "Registrate!!", sign_up_path %> o
            <%= link_to "Inicia Sesion", log_in_path %>
          <% end %>
        </li>
        <!-- </div> -->

        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </ul>
    </nav>
  </header>
<%= yield %>

</body>
</html>
